[client]
port		= 3307
socket		= /opt/mariadb-data/mariadb.sock

[mysqld]
datadir         = /opt/mariadb-data
basedir         = /opt/mariadb
port		= 3307
socket		= /opt/mariadb-data/mariadb.sock
user            = mariadb
#bind-address    = 127.0.0.1
character-set-server = utf8
collation-server = utf8_general_ci

transaction-isolation = READ-COMMITTED
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_strict_mode = OFF
innodb_thread_concurrency = 8
innodb_log_buffer_size = 4M
innodb_log_file_size = 256M
innodb_buffer_pool_size = 2800M
sql_mode=
